body {
	background: black;
	color: white;
	font-family: 'Roboto', sans-serif;
}


hr {
	border: 2px solid white;
	border-radius: 5px;
	margin-top: 3%;
	margin-left: 22%;
	margin-right: 22%;
}

input[type=text] {
	background-color: transparent;
	color: white;
	border: none;
	font-size: 15px;
}



span {
	font-size: 15px;
}

.input-group {
	padding: 14px 15px;
	margin-top: 1%;
	width: 50%;
	border: 2px solid white;
	font-size: 15px;
	border-radius: 5px;
}


input[type=submit] {
  width: 53%;
  background-color: transparent;
  color: white;
  padding: 14px 15px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

input[type=submit]:hover {
  border: 2px solid #b3b3b3;
  color: #b3b3b3;
 }


.convert-button {
  color: white;
  border: 2px solid white;
  width: 53%;
  background-color: transparent;
  padding: 14px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}